<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Oil Industry Impact on  Green Energy</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <!-- chart.js -->
  <script src="./static/Moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>

<body>




  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="sidenav">
          <!-- <div class="container-fluid"> -->
          <!-- <div class="navbar-header"> -->
          <div class="navbar-brand" href="#"></div>
          <a href="#" class="img-thumbnail img-fluid"><img src="../static/Sun.png" width="75" height="60"></a>
          <ul class="nav navbar-nav">

            <li> <a id="demo" href="#allEnergyContainer" target="_self"> Renewable Energy, Challenges and Causes</a> </li>
            <li> <a id="financial" href="#totalEnergyPieContainer" target="_self"> Energy Consumption  </a> </li>
            <li> <a id="acceptance" href="#totalRenewProConEnergyChartContainer" target="_self"> Do we have enough production? </a> </li>
            <li> <a id="acceptance" href="#pricesChart" target="_self"> Oil Price</a> </li>
            <li> <a id="acceptance" href="#predictionContainerChart" target="_self"> Prediction </a> </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


<!-- Renewable Energy, Challenges and Causes

Carbon footprint has an impact on global warming and as a result to human life.

The largest source of greenhouse gas emissions from human activities in the United States is from burning fossil fuels for electricity, heat, and transportation.
list-->

<div class='container'>
  <div class="row">
    <div class="col-sm-12">
<h1>Renewable Energy, Challenges and Causes</h1>
<br>
<h3>Carbon footprint has an impact on global warming and as a result to human life.
The largest source of greenhouse gas emissions from human activities in the United States is
from burning fossil fuels for electricity, heat, and transportation.</h3>
 <br>
 <img src="../static/EWT-image.jpg" class="img-fluid" alt="Responsive image">
  <br>
 <h3>Although human reached out to the knowledge to use other clean and renewable sources of energy, small
    portion of human energy consumption is renewable</h3>
      </div>
    </div>

  </div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div id='allEnergyContainer' class="col-lg-12">
      <h2> Consumption Chart of All Forms of Energy</h2>
      <canvas id="allEnergyChart" width="400" height="300"></canvas>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
    <div id='totalEnergyContainer' class="col-lg-12">
      <h2> Consumption Chart of Total Energy</h2>
      <canvas id="totalEnergyChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>

<br>

<br>
<div class="container">
  <div class="row">
      <div id='totalEnergyPieContainer' class="col-lg-12">
        <h2> Consumption Chart of Total Energy Pie chart</h2>
        <div class="col-sm-6">
        <canvas id="totalEnergyPieChart" width="100" height="100"></canvas>
        <h1>1974</h1>
      </div>
      <div class="col-sm-6">
      <canvas id="totalEnergyPieChart2" width="100" height="100"></canvas>
      <h1>2018</h1>
    </div>

    </div>
  </div>
</div>


<br>


<div class='container'>
  <div class="row">
    <div class="col-sm-12">
      <h1>Do we have enough production?</h1>
    </div>
  </div>

</div>
<br>


<!-- # production / consumption chart of RE --> -->

<div class="container">
  <div class="row">
    <div id='totalRenewProConEnergyChartContainer' class="col-lg-12">
      <h3> Consumption Chart of Total Renewable Energy</h3>
      <canvas id="totalRenewProConEnergyChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>




<!--
Who use it and who does not?

# production / consumption chart of RE for different sectors

Why there is an increase in usage?

# production / consumption chart of RE for different sectors





Future…  -->
<br>
<div class='container'>
  <div class="row">
    <div class="col-sm-12">
      <h1>Is  price of Fuel Fossil a Factor in Renewable consumption?</h1>
    </div>
  </div>

<br>
</div>
<br>
<div class="container">
  <div class="row">
    <div id='pricesContainer' class="col-lg-12">
      <h3> Prices of Different Forms of Energy</h3>
      <canvas id="pricesChart" width="400" height="250"></canvas>
    </div>
  </div>
</div>


<br>


<div class='container'>
  <div class="row">
    <div class="col-sm-12">
      <h1>Can we Predict the consumption of renewable Energy?</h1>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div id='predictionContainer' class="col-lg-12">
      <h3> Prediction of Reneable Energy Using an ARIMA Model</h3>
      <canvas id="predictionContainerChart" width="400" height="250"></canvas>
    </div>
  </div>
</div>

<br>
<br>
<br>
<!--
Are we using it because other sources are cheaper? -->
<div class='container'>
  <div class="row">
    <div class="col-sm-12">
      <h3>Source:</h3>
      <h3>U.S. Energy Information Administration</h3>
    </div>
  </div>





<script type="text/javascript" src="../static/app.js"></script>
<br>

<body>
